
# Ignore benchmark logs
*.csv 
*.log
npm-debug.log*

# Python environment
# Python environment
__pycache__/
.env 
face_edge_env/
face_edge/        
face_edge_lib/
checkpoints/
backend/face_edge_env
venv-face 

# Ignore Large PyTorch/YOLO models from
*.pt
yolov8n.pt
checkpoints/
# Ignore lock files (from LibreOffice/Excel)
.~lock.*

# --- React Frontend (Critical!) ---
frontend/node_modules/
frontend/dist/
frontend/.vite/
frontend/coverage/
# --- IDE & System ---
.vscode/
.idea/
.DS_Store

# --- Face Database (Privacy Protection) ---
backend/data/face_db/*.npy

